[submodule "loper-api"]
	path = loper-api
	url = git@github.com:fwierda/loper-api.git
[submodule "loper-ui"]
	path = loper-ui
	url = git@github.com:fwierda/loper-ui.git
[submodule "loper-native"]
	path = loper-native
	url = git@github.com:fwierda/loper-native.git
